.header {

    position: relative;
    padding: 10rem;

    @include respond(phone){
        padding: 8rem;
    }

    &__intro-box {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);   
    text-align: center;
    }

    &__social {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(min-content, 7rem) );
        grid-column-gap: 1rem;
        grid-row-gap: 3rem;
        width: 100%;
        justify-content: center;
        margin-top: 8rem;

        @include respond(phone){
            grid-column-gap: 0.5rem;
            grid-row-gap: 1.5rem;
            margin-top: 5rem;
        }
        
        
    }
}

.header__container {
    padding: 3rem;

    @include respond(phone){
        padding: 1.5rem;
    }
}