@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

@import './global/_main.scss';


.social__container {
    display: flex;
}
.action{
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 150ms ease-in-out;
    transform: translateY(0);

    &:hover{
        transform: translateY(-1rem);
    }

    i {
        font-size: 2rem;
    }

    span {
        margin-top: 1rem;
        font-size: 1.8rem;
        font-weight: 300;
    }
}