.skills__section {
    &>*{
        font-size: 1.4rem;
    }
}
.progress {
  padding: 0.2rem;
  border-radius: 3rem;
  background: rgba(0, 0, 0, 0.25);  
  box-shadow: inset 0 .1rem .2rem rgba(0, 0, 0, 0.25), 0 .1rem rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 1rem;
  border-radius: 3rem;
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved {
  
  .py {
    @include skill(py);
  }
  .js {
    @include skill(js)
  }
  .java {
    @include skill(java)
  }
  .php{
    @include skill(php)
  }
  .react {
   @include skill(react)
  }
  .node {
    @include skill(node)
  }
  .flask {
    @include skill(flask)
  }
  .django {
    @include skill(django)
  }
  .css {
    @include skill(css)
  }
  .tf {
    @include skill(tf)
  }
  .keras {
    @include skill(keras)
  }
  .torch {
    @include skill(torch)
  }
  .git {
    @include skill(git)
  }
  .heroku {
    @include skill(heroku)
  }
  .noSql {
    @include skill(noSql)
  }
  .sql {
    @include skill(sql)
  }
  
    
//   linear-gradient(to bottom,#ff8a00,#da1b60);

}
