.header {

    position: relative;
    padding: 10rem;

    @include respond(phone){
        padding: 8rem;
    }

    &__intro-box {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);   
    text-align: center;
    }
}

.header__container {
    padding: 3rem;

    @include respond(phone){
        padding: 1.5rem;
    }
}